{
  "openapi": "3.1.0",
  "info": {
    "title": "Analytics API",
    "description": "Voiceflow analytics service",
    "version": "1.0.0",
    "contact": {}
  },
  "tags": [],
  "paths": {
    "/v2/query/usage": {
      "post": {
        "operationId": "QueryPublicController_queryUsageV2",
        "summary": "Query usage for a project",
        "description": "Query usage for a project",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "enum": [
                          "interactions",
                          "top_intents",
                          "unique_users",
                          "credit_usage",
                          "function_usage",
                          "api_calls",
                          "kb_documents",
                          "integrations"
                        ],
                        "description": "The type of usage data to query"
                      },
                      "filter": {
                        "$ref": "#/components/schemas/BaseFilter"
                      }
                    },
                    "required": [
                      "name",
                      "filter"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The query succeed and the result was returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/UnifiedUsageResponse"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The provided authentication token does not have permissions for some of the requested resources"
          }
        },
        "tags": [
          "Query",
          "Public-Docs",
          "Usage"
        ],
        "security": [
          {
            "auth": []
          }
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://analytics-api.voiceflow.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "auth": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization",
        "description": "Voiceflow Dialog Manager API key (VF.DM)"
      }
    },
    "schemas": {
      "Query": {
        "title": "Query",
        "type": "object",
        "nullable": true,
        "description": "Types of queryable data available.\n"
      },
      "Project": {
        "title": "projectID",
        "description": "The `projectID` of your assistant.\n You can find this in your assistant's settings.",
        "type": "string",
        "required": [
          "projectID"
        ],
        "properties": {
          "projectID": {
            "type": "string",
            "example": "62912f08e83f76001b218690"
          }
        }
      },
      "BaseFilter": {
        "description": "A base filter supported by all queries that return a list",
        "type": "object",
        "properties": {
          "projectID": {
            "type": "string",
            "minLength": 1,
            "description": "The project ID for which to query usage data",
            "example": "62912f08e83f76001b218690"
          },
          "startTime": {
            "description": "A timestamp in ISO-8601 format",
            "type": "string"
          },
          "endTime": {
            "description": "A timestamp in ISO-8601 format",
            "type": "string"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "default": 100
          },
          "cursor": {
            "type": "number"
          }
        },
        "required": [
          "projectID"
        ]
      },
      "UnifiedUsageResponse": {
        "type": "object",
        "description": "Unified response structure for all usage query types",
        "properties": {
          "cursor": {
            "type": "integer",
            "description": "Pagination cursor for fetching next page of results (not applicable for top_intents)"
          },
          "items": {
            "type": "array",
            "description": "Array of usage data items (not applicable for top_intents)",
            "items": {
              "$ref": "#/components/schemas/UsageItem"
            }
          },
          "intents": {
            "type": "array",
            "description": "Array of top intents (only applicable for top_intents query)",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the intent",
                  "type": "string"
                },
                "count": {
                  "description": "The number of times the intent was used in the project(s) that matched the provided filter",
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": false
                }
              },
              "required": [
                "name",
                "count"
              ]
            }
          }
        }
      },
      "UsageItem": {
        "type": "object",
        "description": "Individual usage data item with all possible fields",
        "properties": {
          "period": {
            "type": "string",
            "format": "date-time",
            "description": "Time period for this data point"
          },
          "projectID": {
            "type": "string",
            "description": "Project identifier"
          },
          "environmentID": {
            "type": "string",
            "description": "Environment identifier"
          },
          "count": {
            "type": "integer",
            "description": "Usage count for this period"
          },
          "type": {
            "type": "string",
            "description": "Type of interaction (applicable for interactions and credit_usage queries)"
          },
          "diagramID": {
            "type": "string",
            "description": "Diagram identifier (applicable for credit_usage queries)"
          },
          "nodeID": {
            "type": "string",
            "description": "Node identifier (applicable for credit_usage queries)"
          },
          "model": {
            "type": "string",
            "description": "Model used (applicable for credit_usage queries)"
          },
          "functionID": {
            "type": "string",
            "description": "Function identifier (applicable for function_usage queries)"
          },
          "name": {
            "type": "string",
            "description": "Name of the function, API tool, or integration (applicable for function_usage, api_calls, and integrations queries)"
          },
          "successCount": {
            "type": "integer",
            "description": "Number of successful calls (applicable for function_usage, api_calls, and integrations queries)"
          },
          "apiToolID": {
            "type": "string",
            "description": "API tool identifier (applicable for api_calls queries)"
          },
          "documentID": {
            "type": "string",
            "description": "Document identifier (applicable for kb_documents queries)"
          },
          "integrationToolName": {
            "type": "string",
            "description": "Integration tool name (applicable for integrations queries)"
          }
        },
        "required": [
          "period",
          "projectID",
          "environmentID",
          "count"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-codeSamples": [
    {
      "lang": "cURL",
      "label": "Query interactions",
      "source": "curl --request POST \\\n     --url https://analytics-api.voiceflow.com/v2/query/usage \\\n     --header 'accept: application/json' \\\n     --header 'content-type: application/json' \\\n     --header 'authorization: VF.DM.YOUR_API_KEY' \\\n     --data '{\n  \"data\": {\n    \"name\": \"interactions\",\n    \"filter\": {\n      \"projectID\": \"62912f08e83f76001b218690\",\n      \"limit\": 100\n    }\n  }\n}'"
    }
  ]
}