{"openapi":"3.1.0","info":{"title":"Red Ventures Realtime API","version":"2.0"},"servers":[{"url":"https://realtime-http-api.redventures.voiceflow.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization"}}},"security":[{"sec0":[]}],"paths":{"/v1/secrets-management/projects/{projectId}/secrets/{secretName}":{"patch":{"summary":"Patch Default Secret Value","description":"","operationId":"patch-default-secret-value","parameters":[{"name":"projectId","in":"path","description":"ID of the project whose secrets we want to access","schema":{"type":"string"},"required":true},{"name":"secretName","in":"path","description":"Name of the secret to modify","schema":{"type":"string"},"required":true},{"name":"Authorization","in":"header","description":"DM API key of the project we are accessing","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string","description":"The new value for the secret"},"visibility":{"type":"string","description":"The new visibility setting for the secret","enum":["\"restricted\"","\"masked\""]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"projectID\": \"673660198769eecd20ded02f\",\n    \"secretName\": \"secret1\"\n}"}},"schema":{"type":"object","properties":{"projectID":{"type":"string","example":"673660198769eecd20ded02f"},"secretName":{"type":"string","example":"secret1"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"// Error occurs if the response body's values are invalid \n{\n    \"message\": \"Validation failed\",\n    \"statusCode\": 422,\n    \"statusText\": \"Unprocessable Entity\",\n    \"details\": [\n        {\n            \"received\": \"visible\",\n            \"code\": \"invalid_enum_value\",\n            \"options\": [\n                \"restricted\",\n                \"masked\"\n            ],\n            \"path\": [\n                \"visibility\"\n            ],\n            \"message\": \"Invalid enum value. Expected 'restricted' | 'masked', received 'visible'\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Validation failed"},"statusCode":{"type":"integer","example":422,"default":0},"statusText":{"type":"string","example":"Unprocessable Entity"},"details":{"type":"array","items":{"type":"object","properties":{"received":{"type":"string","example":"visible"},"code":{"type":"string","example":"invalid_enum_value"},"options":{"type":"array","items":{"type":"string","example":"restricted"}},"path":{"type":"array","items":{"type":"string","example":"visibility"}},"message":{"type":"string","example":"Invalid enum value. Expected 'restricted' | 'masked', received 'visible'"}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"// Error occurs if the Authorization header is not provided\n{\n    \"message\": \"Missing authorization header\",\n    \"statusCode\": 401,\n    \"statusText\": \"Unauthorized\",\n    \"timestamp\": \"2024-11-25T21:43:48.368Z\",\n    \"path\": \"/v1/secrets-management/projects/673660198769eecd20ded02f/secrets/secret1\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Missing authorization header"},"statusCode":{"type":"integer","example":401,"default":0},"statusText":{"type":"string","example":"Unauthorized"},"timestamp":{"type":"string","example":"2024-11-25T21:43:48.368Z"},"path":{"type":"string","example":"/v1/secrets-management/projects/673660198769eecd20ded02f/secrets/secret1"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"// Error can occur if the API key is invalid\n{\n    \"statusCode\": 404,\n    \"statusText\": \"Not Found\",\n    \"message\": \"Not Found\",\n    \"timestamp\": \"2024-11-25T21:44:45.668Z\",\n    \"path\": \"/v1/secrets-management/projects/673660198769eecd20ded02f/secrets/secret1\"\n}"}},"schema":{"type":"object","properties":{"statusCode":{"type":"integer","example":404,"default":0},"statusText":{"type":"string","example":"Not Found"},"message":{"type":"string","example":"Not Found"},"timestamp":{"type":"string","example":"2024-11-25T21:44:45.668Z"},"path":{"type":"string","example":"/v1/secrets-management/projects/673660198769eecd20ded02f/secrets/secret1"}}}}}}},"deprecated":false}},"/v1/secrets-management/projects/{projectId}/environments/{environmentName}/secrets/{secretName}":{"patch":{"summary":"Patch Override Secret Values","description":"","operationId":"patch-override-secret-values","parameters":[{"name":"projectId","in":"path","description":"ID of the project whose secrets we want to update","schema":{"type":"string"},"required":true},{"name":"environmentName","in":"path","description":"Alias of the environment whose secrets we want to update. Accepted values are `'development'`, `'production'`","schema":{"type":"string"},"required":true},{"name":"secretName","in":"path","description":"Name of the secret to update","schema":{"type":"string"},"required":true},{"name":"Authorization","in":"header","description":"DM API key of the project we are accessing","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string","description":"New value for the secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"environmentID\": \"673660198769eecd20ded030\",\n    \"secretName\": \"secret1\"\n}"}},"schema":{"type":"object","properties":{"environmentID":{"type":"string","example":"673660198769eecd20ded030"},"secretName":{"type":"string","example":"secret1"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"// Error occurs if the response body's values are invalid \n{\n    \"message\": \"Validation failed\",\n    \"statusCode\": 422,\n    \"statusText\": \"Unprocessable Entity\",\n    \"details\": [\n        {\n            \"code\": \"invalid_type\",\n            \"expected\": \"string\",\n            \"received\": \"number\",\n            \"path\": [\n                \"value\"\n            ],\n            \"message\": \"Expected string, received number\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Validation failed"},"statusCode":{"type":"integer","example":422,"default":0},"statusText":{"type":"string","example":"Unprocessable Entity"},"details":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"invalid_type"},"expected":{"type":"string","example":"string"},"received":{"type":"string","example":"number"},"path":{"type":"array","items":{"type":"string","example":"value"}},"message":{"type":"string","example":"Expected string, received number"}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Missing authorization header\",\n    \"statusCode\": 401,\n    \"statusText\": \"Unauthorized\",\n    \"timestamp\": \"2024-11-25T21:52:51.555Z\",\n    \"path\": \"/v1/secrets-management/projects/673660198769eecd20ded02f/environments/development/secrets/secret1\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Missing authorization header"},"statusCode":{"type":"integer","example":401,"default":0},"statusText":{"type":"string","example":"Unauthorized"},"timestamp":{"type":"string","example":"2024-11-25T21:52:51.555Z"},"path":{"type":"string","example":"/v1/secrets-management/projects/673660198769eecd20ded02f/environments/development/secrets/secret1"}}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"{\n    \"statusCode\": 404,\n    \"statusText\": \"Not Found\",\n    \"message\": \"Not Found\",\n    \"timestamp\": \"2024-11-25T21:53:10.242Z\",\n    \"path\": \"/v1/secrets-management/projects/673660198769eecd20ded02f/environments/development/secrets/secret1\"\n}"}},"schema":{"type":"object","properties":{"statusCode":{"type":"integer","example":404,"default":0},"statusText":{"type":"string","example":"Not Found"},"message":{"type":"string","example":"Not Found"},"timestamp":{"type":"string","example":"2024-11-25T21:53:10.242Z"},"path":{"type":"string","example":"/v1/secrets-management/projects/673660198769eecd20ded02f/environments/development/secrets/secret1"}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true}}