{"openapi":"3.1.0","info":{"title":"testing-api","version":"1.2"},"servers":[{"url":"https://api.voiceflow.com/v3alpha/vft/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-default":"VF.DM.xxxxx"}}},"security":[{"sec0":[]}],"paths":{"/{projectID}/runs":{"get":{"summary":"List Test Runs","description":"List all test runs in the given project.","operationId":"list-test-spec-runs","parameters":[{"name":"limit","in":"query","description":"The number of test runs to retrieve","schema":{"type":"integer","format":"int32"}},{"name":"testSpecID","in":"query","description":"Option to filter results by a certain test spec","schema":{"type":"string"}},{"name":"newerThan","in":"query","description":"Option to filter results by date","schema":{"type":"string"}},{"name":"projectID","in":"path","description":"Voiceflow project ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"testRunID1\",\n      \"testSpecID\": \"testSpecID\",\n      \"status\": \"SUCCESS\"\n    },\n    {\n      \"id\": \"testRunID2\",\n      \"testSpecID\": \"testSpecID\",\n      \"status\": \"PENDING\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"testRunID1"},"testSpecID":{"type":"string","example":"testSpecID"},"status":{"type":"string","example":"SUCCESS"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{projectID}/specs/{testSpecID}/run":{"post":{"summary":"Run Test Spec","description":"Run an existing Test Spec","operationId":"run-test-spec","parameters":[{"name":"testSpecID","in":"path","description":"ID of the test spec to update","schema":{"type":"string"},"required":true},{"name":"projectID","in":"path","description":"Voiceflow project ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"id\": \"6564a5f1d67342e51a63cb1f\"\n    }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"6564a5f1d67342e51a63cb1f"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{projectID}/specs/{testSpecID}":{"delete":{"summary":"Delete Test Spec","description":"Delete an existing test spec.","operationId":"delete-test-spec","parameters":[{"name":"testSpecID","in":"path","description":"ID of the test spec to update","schema":{"type":"string"},"required":true},{"name":"projectID","in":"path","description":"Voiceflow project ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update Test Spec","description":"Update an existing test spec.","operationId":"update-test-spec","parameters":[{"name":"testSpecID","in":"path","description":"ID of the test spec to update","schema":{"type":"string"},"required":true},{"name":"projectID","in":"path","description":"Voiceflow project ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Optional - New unique name for the test spec"},"transcripts":{"type":"array","description":"Optional - Replaces the transcripts in the test spec. See Generate Test Spec page for details on how to supply this parameter."},"description":{"type":"string","description":"Optional - description of the test spec"},"modelSettings":{"type":"array","description":"Optional - List of model settings objects to use as KB settings for test runs. <br /> Transcripts are run once for each of these model specifications. If empty, test run will default to the current project KB LLM settings. A model settings object has the following fields: <br />  <br /> - `model`: [str] A valid model identifier.  <br /> - `temperature`: [float] The temperature setting for the LLM, must be between 0 and 1.  <br /> - `maxTokens`: [int] The maximum amount tokens to use in an LLM response.  <br /> - `systemPrompt`: [str] The system prompt setting for the LLM."},"startNode":{"type":"string","description":"Optional - The node that the test run should start on. Defaults to the usual start node of the agent. This is a JSON object with the following fields: <br /> <br /> - `diagramID`: The diagramID of the start node <br /> - `nodeID`: The id of the start node","format":"json"},"defaultMatchType":{"type":"string","description":"Optional - Default match type for validating responses. Options are `SimilarityScore` and `TextMatch`. Default is `SimilarityScore`"},"defaultMatchField":{"type":"string","description":"Optional - Default match field for validating responses. If `SimilarityScore` is specified, this must be a float between 0 and 1. Default is 0.8. If `TextMatch` is specified, this must be `exact`."},"documentIDs":{"type":"array","description":"Optional - The list of documentIDs associated with this test. If this test is auto generated, transcripts will only be generated from these documents. Defaults to all documents.","items":{"type":"string"}},"persona":{"type":"string","description":"Optional - Only used for `bot2bot` tests. The persona to base the generated transcript off of."},"type":{"type":"string","description":"Optional - If you would like to specify a `bot2bot` test, do so here. A bot2bot test will generate transcripts based on the given persona."},"maxTokens":{"type":"integer","description":"Optional - The maximum amount of tokens you would like to spend on generated transcripts. If this number is too low, no transcripts will be generated.","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"_id\": \"6564a30718bdf17894a332ff\",\n    \"createdAt\": \"2023-11-27T09:09:11.159983\",\n    \"updatedAt\": \"2023-11-27T09:09:11.167664\",\n    \"name\": \"this is a new test name\",\n    \"projectID\": \"653bf84d681dd7000727726c\",\n    \"generationStatus\": \"SUCCESS\",\n    \"type\": \"api\",\n    \"defaultMatchType\": \"SimilarityScore\",\n    \"defaultMatchField\": 0.8,\n    \"modelSettings\": [\n      {\n        \"model\": \"gpt-3.5-turbo\",\n        \"temperature\": \"0.42\",\n        \"maxTokens\": \"150\",\n        \"systemPrompt\": \"Respond in English and answer the question.\"\n      }\n    ],\n    \"transcripts\": [\n      {\n        \"_id\": \"655e2ae8c7f7ed9e4f729fe6\",\n        \"documentID\": \"6553c090c7e8db0008bc50e4\",\n        \"items\": [\n          {\n            \"role\": \"user\",\n            \"content\": \"What is the largest city in Florida?\",\n          },\n          {\n            \"role\": \"assistant\",\n            \"validationOptions\": {\n              \"text\": \"Jacksonville is the largest city in Florida.\"\n            },\n          }\n        ]\n      }\n    ],\n    \"description\": \"this is a new test description\",\n    \"tokenUsage\": 0,\n    \"creationSource\": \"manual\",\n  }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"Get Test Spec","description":"Get details of a given test spec.","operationId":"get-test-spec","parameters":[{"name":"testSpecID","in":"path","description":"The unique identifier of the test spec to retrieve.","schema":{"type":"string"},"required":true},{"name":"projectID","in":"path","description":"Voiceflow project ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"_id\": \"6561158523123f9ff39f2e89\",\n        \"createdAt\": \"2023-11-27T09:09:11.159983\",\n    \t\t\"updatedAt\": \"2023-11-27T09:09:11.167664\",\n        \"name\": \"Retirement Conversations\",\n        \"projectID\": \"653bf84d681dd7142727726g\",\n        \"documentIDs\": [\n            \"655f755a7d3f628bc6bdf0c3\",\n            \"6560e328c806dacf3beadd61\",\n            \"6560ab37d7de27af2292179a\",\n            \"655f792d7d3f628bc6bdf0c4\",\n            \"6560e328c806dacf3beadd63\",\n            \"6560d8c9c806dacf3beadd5d\",\n        ],\n        \"generationStatus\": \"SUCCESS\",\n        \"type\": \"api\",\n        \"defaultMatchType\": \"SimilarityScore\",\n        \"defaultMatchField\": 0.8,\n        \"modelSettings\": [\n            {\n                \"model\": \"claude-instant-v1\",\n                \"temperature\": 0.42,\n                \"maxTokens\": 101,\n                \"systemPrompt\": \"You are a friendly customer service agent.\",\n            }\n        ],\n        \"transcripts\": [\n\t\t\t\t\t{\n                \"_id\": \"655e2ae8c7f7ed9e4f729fe6\",\n                \"documentID\": \"6553c090c7e8db0008bc50e4\",\n                \"items\": [\n                    {\n                        \"role\": \"user\",\n                        \"content\": \"When should I begin saving for retirement?\",\n                    },\n                    {\n                        \"role\": \"assistant\",\n                        \"validationOptions\": {\n                            \"text\": \"It's never too early to start saving for retirement. This may make saving and planning for retirement easier than starting to save later in your career.\",\n                        },\n                    },\n                ]\n            },\n        ],\n        \"description\": \"Some general retirement transcripts\",\n        \"tokenUsage\": 500,\n        \"creationSource\": \"generated\",\n    }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{projectID}/specs":{"get":{"summary":"List Test Specs","description":"List all test specs in the given project.","operationId":"list-test-specs","parameters":[{"name":"projectID","in":"path","description":"Voiceflow project ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n        {\n            \"id\": \"655e2ad2c7f7ed9e4f729fh1\",\n            \"name\": \"Student Account Questions\",\n            \"generationStatus\": \"SUCCESS\"\n        },\n        {\n            \"id\": \"655h2e5n671b509256015d39\",\n            \"name\": \"Retirement Conversations\",\n            \"generationStatus\": \"SUCCESS\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"655e2ad2c7f7ed9e4f729fh1"},"name":{"type":"string","example":"Student Account Questions"},"generationStatus":{"type":"string","example":"SUCCESS"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Generate Test Spec","description":"Add a new test spec to your project. This endpoint supports automatic transcript generation along with manual transcript upload.","operationId":"generate-test-spec","parameters":[{"name":"projectID","in":"path","description":"Voiceflow project ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Unique name for the test spec"},"transcripts":{"type":"array","description":"Optional - Only specify this field if you do not want auto generated transcripts. <br /> This defines the transcripts to run through your assistant when the spec is run.  In this param, you should supply a list of `transcripts`. <br /> A `transcript` is a list of `messages`, and a `message` object has the following fields: <br /><br /> `role`: **[str] [required]** Must be one of `user` or `assistant`. This defines who is speaking in the current message. If `user` is specified, a message will be sent in the conversation. If `assistant` is specified, a response will be expected in the conversation. <br /><br /> `content`: **[str] [optional]** Specify this in a `user` message to send to the assistant, or an `assistant` message that you do not wish to validate. <br /><br /> `validationOptions`: **[optional]** Options for validating the assistant response. Only specify this in `assistant` messages that you want to validate. If you don’t want to validate the assistant response and are only including the turn to advance the conversation, use the `content` field described below. validationOptions consist of the following:  <br /> - `text`:  **[required]** The expected response from the assistant. The actual response will be compared to this field for validation.  <br /> - `matchType`: **[str] [optional]** Override for `defaultMatchType` on this particular validation. Must be one of `SimilarityScore` or `TextMatch` <br /> - `matchField`: **[float | str] [optional]** Override for `defaultMatchField` on this particular validation. If `SimilarityScore` is specified, this must be a float between 0 and 1. Default is 0.8. If `TextMatch` is specified, this must be `exact`."},"description":{"type":"string","description":"Optional - Description of the test spec"},"modelSettings":{"type":"array","description":"Optional - List of model settings objects to use as KB settings for test runs. <br /> Transcripts are run once for each of these model specifications. If empty, test run will default to the current project KB LLM settings. A model settings object has the following fields: <br />  <br /> - `model`: [str] A valid model identifier.  <br /> - `temperature`: [float] The temperature setting for the LLM, must be between 0 and 1.  <br /> - `maxTokens`: [int] The maximum amount tokens to use in an LLM response.  <br /> - `systemPrompt`: [str] The system prompt setting for the LLM."},"startNode":{"type":"string","description":"(Optional) The node that the test run should start on. Defaults to the usual start node of the agent. This is a JSON object with the following fields: <br /> <br /> - `diagramID`: The diagramID of the start node <br /> - `nodeID`: The id of the start node","format":"json"},"defaultMatchType":{"type":"string","description":"Optional - Default match type for validating responses. Options are `SimilarityScore` and `TextMatch`. Default is `SimilarityScore`"},"defaultMatchField":{"type":"string","description":"Optional - Default match field for validating responses. If `SimilarityScore` is specified, this must be a float between 0 and 1. Default is 0.8. If `TextMatch` is specified, this must be `exact`."},"documentIDs":{"type":"array","description":"Optional - The list of documentIDs associated with this test. If this test is auto generated, transcripts will only be generated from these documents. Defaults to all documents.","items":{"type":"string"}},"persona":{"type":"string","description":"Optional - Only used for `bot2bot` tests. The persona to base the generated transcript off of."},"type":{"type":"string","description":"Optional - If you would like to specify a `bot2bot` test, do so here. A bot2bot test will generate transcripts based on the given persona."},"maxTokens":{"type":"integer","description":"Optional - The maximum amount of tokens you would like to spend on generated transcripts. If this number is too low, no transcripts will be generated.","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"_id\": \"6568e78a9942bb09c2ac722a\",\n    \"createdAt\": \"2023-11-27T09:09:11.159983\",\n    \"updatedAt\": \"2023-11-27T09:09:11.167664\",\n    \"name\": \"gpt vs claude\",\n    \"projectID\": \"653bf84d681dd7000727726c\",\n    \"type\": \"api\",\n    \"defaultMatchType\": \"SimilarityScore\",\n    \"defaultMatchField\": 0.8,\n    \"modelSettings\": [\n      {\n        \"model\": \"claude-instant-v1\",\n        \"temperature\": \"0.42\",\n        \"maxTokens\": \"100\",\n        \"systemPrompt\": \"You are a knowledge base\"\n      },\n      {\n        \"model\": \"gpt-3.5-turbo\",\n        \"temperature\": \"0.42\",\n        \"maxTokens\": \"100\",\n        \"systemPrompt\": \"You are a knowledge base\"\n      }\n    ],\n    \"creationSource\": \"generated\"\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"_id":{"type":"string","example":"6568e78a9942bb09c2ac722a"},"createdAt":{"type":"string","example":"2023-11-27T09:09:11.159983"},"updatedAt":{"type":"string","example":"2023-11-27T09:09:11.167664"},"name":{"type":"string","example":"gpt vs claude"},"projectID":{"type":"string","example":"653bf84d681dd7000727726c"},"type":{"type":"string","example":"api"},"defaultMatchType":{"type":"string","example":"SimilarityScore"},"defaultMatchField":{"type":"number","example":0.8,"default":0},"modelSettings":{"type":"array","items":{"type":"object","properties":{"model":{"type":"string","example":"claude-instant-v1"},"temperature":{"type":"string","example":"0.42"},"maxTokens":{"type":"string","example":"100"},"systemPrompt":{"type":"string","example":"You are a knowledge base"}}}},"creationSource":{"type":"string","example":"generated"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"{\n  \"data\": {\n    \"name\": \"gpt vs claude\",\n    \"modelSettings\": [\n      {\n        \"model\": \"claude-instant-v1\",\n        \"temperature\": \"0.42\",\n        \"maxTokens\": \"100\",\n        \"systemPrompt\": \"You are a knowledge base\"\n      },\n      {\n        \"model\": \"gpt-3.5-turbo\",\n        \"temperature\": \"0.42\",\n        \"maxTokens\": \"100\",\n        \"systemPrompt\": \"You are a knowledge base\"\n      }\n    ],\n  }\n}","name":"Create auto-generated spec"}],"samples-languages":["curl"]}}},"/{projectID}/runs/{testRunID}":{"get":{"summary":"Get Test Run","description":"Get results of a given test run","operationId":"get-test-run","parameters":[{"name":"testRunID","in":"path","description":"The id of the test run to retrieve","schema":{"type":"string"},"required":true},{"name":"projectID","in":"path","description":"Voiceflow project ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"status\": \"SUCCESS\",\n     \"results\": {\n       \"summary\": [\n         {\n           \"llm\": \"claude-instant-v1\",\n           \"accuracy\": 0.25,\n           \"numTests\": 4,\n           \"avgSimilarityScore\": 0.8117166519907741,\n           \"avgTokens\": 287.25,\n           \"totalTokens\": 1149\n         }\n       \t],\n         \"details\": [\n           {\n             \"conversationID\": \"91beb7ef\",\n             \"description\": null,\n             \"messageValidation\": {\n               \"currentMessage\": \"What teams played in the 2023 nba finals?\",\n               \"expectedResponse\": \"The Denver Nuggets played against the Miami Heat.\",\n               \"response\": \"Die\",\n               \"similarityScore\": 0.7451896823706732,\n               \"matchType\": \"SimilarityScore\",\n               \"matchField\": \"0.8\",\n               \"responseTime\": 2.4701340198516846\n             },\n             \"checks\": {\n               \"llmJudgedCorrectLanguage\": false,\n               \"noPromptLeak\": true,\n               \"isValid\": false\n             },\n             \"tokens\": {\n               \"queryTokens\": 609,\n               \"answerTokens\": 6,\n               \"checkTokens\": 136\n             },\n             \"llmSettings\": {\n               \"model\": \"claude-instant-v1\",\n               \"temperature\": 0.42,\n               \"maxTokens\": 1,\n               \"systemPrompt\": \"Respond in German\",\n               \"kbPrompt\": null,\n               \"userPrompt\": null\n             },\n             \"status\": \"success\",\n             \"detail\": null\n           }\n         ]\n      }\n    }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"status":{"type":"string","example":"SUCCESS"},"results":{"type":"object","properties":{"summary":{"type":"array","items":{"type":"object","properties":{"llm":{"type":"string","example":"claude-instant-v1"},"accuracy":{"type":"number","example":0.25,"default":0},"numTests":{"type":"integer","example":4,"default":0},"avgSimilarityScore":{"type":"number","example":0.8117166519907741,"default":0},"avgTokens":{"type":"number","example":287.25,"default":0},"totalTokens":{"type":"integer","example":1149,"default":0}}}},"details":{"type":"array","items":{"type":"object","properties":{"conversationID":{"type":"string","example":"91beb7ef"},"description":{},"messageValidation":{"type":"object","properties":{"currentMessage":{"type":"string","example":"What teams played in the 2023 nba finals?"},"expectedResponse":{"type":"string","example":"The Denver Nuggets played against the Miami Heat."},"response":{"type":"string","example":"Die"},"similarityScore":{"type":"number","example":0.7451896823706732,"default":0},"matchType":{"type":"string","example":"SimilarityScore"},"matchField":{"type":"string","example":"0.8"},"responseTime":{"type":"number","example":2.4701340198516846,"default":0}}},"checks":{"type":"object","properties":{"llmJudgedCorrectLanguage":{"type":"boolean","example":false,"default":true},"noPromptLeak":{"type":"boolean","example":true,"default":true},"isValid":{"type":"boolean","example":false,"default":true}}},"tokens":{"type":"object","properties":{"queryTokens":{"type":"integer","example":609,"default":0},"answerTokens":{"type":"integer","example":6,"default":0},"checkTokens":{"type":"integer","example":136,"default":0}}},"llmSettings":{"type":"object","properties":{"model":{"type":"string","example":"claude-instant-v1"},"temperature":{"type":"number","example":0.42,"default":0},"maxTokens":{"type":"integer","example":1,"default":0},"systemPrompt":{"type":"string","example":"Respond in German"},"kbPrompt":{},"userPrompt":{}}},"status":{"type":"string","example":"success"},"detail":{}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}